.dropdown-item.active > .dropdown-icon {
    color: #fff;
}

.blockCustom > .loader {
    top: 45%;
    margin: 0 auto;
}

.w-xxs {
    width: 60px;
}

.w-xs {
    width: 90px;
}

.w-sm {
    width: 150px;
}

.w {
    width: 200px;
}

.w-md {
    width: 240px;
}

.w-lg {
    width: 280px !important;
}

.w-xl {
    width: 320px;
}

.w-xxl {
    width: 360px;
}

.text-xl {
    font-size: 20px !important;
}

.text-lg {
    font-size: 18px !important;
}

.text-md {
    font-size: 16px !important;
}

.text-base {
    font-size: 14px !important;
}

.text-sm {
    font-size: 13px !important;
}

.cursor-pointer {
    cursor: pointer;
}

/* jsTree default theme */
.jstree-node,
.jstree-children,
.jstree-container-ul {
    display: block;

    margin: 0;
    padding: 0;

    list-style-type: none;
    list-style-image: none;
}

.jstree-node {
    white-space: nowrap;
}

.jstree-anchor {
    display: inline-block;

    width: 100%;
    margin: 0;
    padding: 0.25rem 1rem 0.25rem 0rem;

    vertical-align: top;
    white-space: nowrap;

    color: black;
}

.jstree-anchor:focus {
    outline: 0;
}

.jstree-anchor,
.jstree-anchor:link,
.jstree-anchor:visited,
.jstree-anchor:hover,
.jstree-anchor:active {
    text-decoration: none;

    color: inherit;
}

.jstree-icon {
    display: inline-block;

    margin: 0;
    padding: 0;

    text-align: center;
    vertical-align: top;
    text-decoration: none;
}

.jstree-icon:empty {
    display: inline-block;

    margin: 0;
    padding: 0;

    text-align: center;
    vertical-align: top;
    text-decoration: none;
}

.jstree-ocl {
    cursor: pointer;
}

.jstree-leaf > .jstree-ocl {
    cursor: default;
}

.jstree .jstree-open > .jstree-children {
    display: block;
}

.jstree .jstree-closed > .jstree-children,
.jstree .jstree-leaf > .jstree-children {
    display: none;
}

.jstree-anchor > .jstree-themeicon {
    margin-right: 2px;
}

.jstree-no-icons .jstree-themeicon,
.jstree-anchor > .jstree-themeicon-hidden {
    display: none;
}

.jstree-hidden,
.jstree-node.jstree-hidden {
    display: none;
}

.jstree-rtl .jstree-anchor {
    padding: 0 1px 0 4px;
}

.jstree-rtl .jstree-anchor > .jstree-themeicon {
    margin-right: 0;
    margin-left: 2px;
}

.jstree-rtl .jstree-node {
    margin-left: 0;
}

.jstree-rtl .jstree-container-ul > .jstree-node {
    margin-right: 0;
}

.jstree-wholerow-ul {
    position: relative;

    display: inline-block;

    min-width: 100%;
}

.jstree-wholerow-ul .jstree-leaf > .jstree-ocl {
    cursor: pointer;
}

.jstree-wholerow-ul .jstree-anchor,
.jstree-wholerow-ul .jstree-icon {
    position: relative;
}

.jstree-wholerow-ul .jstree-wholerow {
    position: absolute;
    left: 0;

    width: 100%;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.vakata-context {
    display: none;
}

.vakata-context,
.vakata-context ul {
    position: absolute;

    margin: 0;
    padding: 2px;

    border: 1px solid #979797;
    background: #f5f5f5;
    box-shadow: 2px 2px 2px #999;
}

.vakata-context ul {
    left: 100%;

    margin-top: -2.7em;
    margin-left: -4px;

    list-style: none;
}

.vakata-context .vakata-context-right ul {
    right: 100%;
    left: auto;

    margin-right: -4px;
    margin-left: auto;
}

.vakata-context li {
    list-style: none;
}

.vakata-context li > a {
    line-height: 2.4em;

    display: block;

    width: auto;
    padding: 0 2em 0 2em;

    white-space: nowrap;
    text-decoration: none;

    color: black;
    border-radius: 1px;
    text-shadow: 1px 1px 0 white;
}

.vakata-context li > a:hover {
    position: relative;

    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1;
}

.vakata-context li > a.vakata-context-parent {
    background-image: url('data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==');
    background-repeat: no-repeat;
    background-position: right center;
}

.vakata-context li > a:focus {
    outline: 0;
}

.vakata-context .vakata-context-hover > a {
    position: relative;

    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1;
}

.vakata-context .vakata-context-separator > a,
.vakata-context .vakata-context-separator > a:hover {
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    margin: 0 0 0 2.4em;
    padding: 0;

    border: 0;
    border-top: 1px solid #e2e3e3;
    border-left: 1px solid #e0e0e0;
    border-radius: 0;
    background: white;
    box-shadow: 0 0 0 transparent;
    text-shadow: 0 0 0 transparent;
}

.vakata-context .vakata-contextmenu-disabled a,
.vakata-context .vakata-contextmenu-disabled a:hover {
    color: silver;
    border: 0;
    background-color: transparent;
    box-shadow: 0 0 0;
}

.vakata-context li > a > i {
    line-height: 2.4em;

    display: inline-block;

    width: 2.4em;
    height: 2.4em;
    margin: 0 0 0 -2em;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    background: transparent;
}

.vakata-context li > a > i:empty {
    line-height: 2.4em;

    width: 2.4em;
}

.vakata-context li > a .vakata-contextmenu-sep {
    display: inline-block;

    width: 1px;
    height: 2.4em;
    margin: 0 .5em 0 0;

    border-left: 1px solid #e2e3e3;
    background: white;
}

.vakata-context .vakata-contextmenu-shortcut {
    font-size: .8em;

    display: none;

    opacity: .5;
    color: silver;
}

.vakata-context-rtl ul {
    right: 100%;
    left: auto;

    margin-right: -4px;
    margin-left: auto;
}

.vakata-context-rtl li > a.vakata-context-parent {
    background-image: url('data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAINjI+AC7rWHIsPtmoxLAA7');
    background-repeat: no-repeat;
    background-position: left center;
}

.vakata-context-rtl .vakata-context-separator > a {
    margin: 0 2.4em 0 0;

    border-right: 1px solid #e2e3e3;
    border-left: 0;
}

.vakata-context-rtl .vakata-context-left ul {
    right: auto;
    left: 100%;

    margin-right: auto;
    margin-left: -4px;
}

.vakata-context-rtl li > a > i {
    margin: 0 -2em 0 0;
}

.vakata-context-rtl li > a .vakata-contextmenu-sep {
    margin: 0 0 0 .5em;

    border-left-color: white;
    background: #e2e3e3;
}

#jstree-marker {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 0;
    margin: -5px 0 0 0;
    padding: 0;

    border-top: 5px solid transparent;
    border-right: 0;
    border-bottom: 5px solid transparent;
    border-left: 5px solid;
}

#jstree-dnd {
    line-height: 16px;

    margin: 0;
    padding: 4px;
}

#jstree-dnd .jstree-icon,
#jstree-dnd .jstree-copy {
    display: inline-block;

    width: 16px;
    height: 16px;
    margin: 0 2px 0 0;
    padding: 0;

    text-decoration: none;
}

#jstree-dnd .jstree-ok {
    background: green;
}

#jstree-dnd .jstree-er {
    background: red;
}

#jstree-dnd .jstree-copy {
    margin: 0 2px 0 2px;
}

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
    background-color: transparent;
    background-repeat: no-repeat;
}

.jstree-default .jstree-anchor,
.jstree-default .jstree-animated,
.jstree-default .jstree-wholerow {
    transition: background-color .15s, box-shadow .15s;
}

.jstree-default .jstree-hovered {
    background-color: rgba(110, 117, 130, 0.06);
}

.jstree-default .jstree-context {
    border-radius: 2px;
    background: #e7f4f9;
    box-shadow: inset 0 0 1px #ccc;
}

.jstree-default .jstree-clicked {
    border-radius: 2px;
    background: #beebff;
    box-shadow: inset 0 0 1px #999;
}

.jstree-default .jstree-no-icons .jstree-anchor > .jstree-themeicon {
    display: none;
}

.jstree-default .jstree-disabled {
    color: #666;
    background: transparent;
}

.jstree-default .jstree-disabled.jstree-hovered {
    background: transparent;
    box-shadow: none;
}

.jstree-default .jstree-disabled.jstree-clicked {
    background: #efefef;
}

.jstree-default .jstree-disabled > .jstree-icon {
    opacity: .8;

    -webkit-filter: grayscale(100%);
}

.jstree-default .jstree-search {
    font-weight: bold;
    font-style: italic;

    color: #8b0000;
}

.jstree-default .jstree-no-checkboxes .jstree-checkbox {
    display: none !important;
}

.jstree-default.jstree-checkbox-no-clicked .jstree-clicked {
    background: transparent;
    box-shadow: none;
}

.jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
    background: #e7f4f9;
}

.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked {
    background: transparent;
}

.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered {
    background: #e7f4f9;
}

.jstree-default > .jstree-striped {
    display: inline-block;

    min-width: 100%;

    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==') left top repeat;
}

.jstree-default > .jstree-wholerow-ul .jstree-hovered,
.jstree-default > .jstree-wholerow-ul .jstree-clicked {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.jstree-default .jstree-wholerow {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.jstree-default .jstree-wholerow-hovered {
    background: #e7f4f9;
}

.jstree-default .jstree-wholerow-clicked {
    background: #beebff;
}

.jstree-default .jstree-node {
    line-height: 24px;

    min-width: 24px;
    min-height: 24px;
    margin-left: 24px;
}

.jstree-default .jstree-icon {
    line-height: 24px;

    width: 24px;
    height: 24px;
}

.jstree-default .jstree-icon:empty {
    line-height: 32px;

    width: 12px;
    height: 32px;
}

.jstree-default.jstree-rtl .jstree-node {
    margin-right: 24px;
}

.jstree-default .jstree-wholerow {
    height: 24px;
}

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
    background-image: url('../images/32px.png');
}

.jstree-default .jstree-node {
    background-repeat: repeat-y;
    background-position: -292px -4px;
}

.jstree-default .jstree-last {
    background: transparent;
}

.jstree-default .jstree-open > .jstree-ocl {
    background-position: -132px -4px;
}

.jstree-default .jstree-closed > .jstree-ocl {
    background-position: -100px -4px;
}

.jstree-default .jstree-leaf > .jstree-ocl {
    background-position: -68px -4px;
}

.jstree-default .jstree-themeicon {
    background-position: -260px -4px;
}

.jstree-default > .jstree-no-dots .jstree-node,
.jstree-default > .jstree-no-dots .jstree-leaf > .jstree-ocl {
    background: transparent;
}

.jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl {
    background-position: -44px 0px;
}

.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl {
    background-position: -13px -1px;
}

.jstree-default .jstree-disabled {
    background: transparent;
}

.jstree-default .jstree-disabled.jstree-hovered {
    background: transparent;
}

.jstree-default .jstree-disabled.jstree-clicked {
    background: #efefef;
}

.jstree-default .jstree-checkbox {
    background-position: -164px -4px;
}

.jstree-default .jstree-checkbox:hover {
    background-position: -164px -36px;
}

.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
.jstree-default .jstree-checked > .jstree-checkbox {
    background-position: -228px -4px;
}

.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover,
.jstree-default .jstree-checked > .jstree-checkbox:hover {
    background-position: -228px -36px;
}

.jstree-default .jstree-anchor > .jstree-undetermined {
    background-position: -196px -4px;
}

.jstree-default .jstree-anchor > .jstree-undetermined:hover {
    background-position: -196px -36px;
}

.jstree-default .jstree-checkbox-disabled {
    opacity: .8;

    -webkit-filter: grayscale(100%);
}

.jstree-default > .jstree-striped {
    background-size: auto 48px;
}

.jstree-default.jstree-rtl .jstree-node {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==');
    background-repeat: repeat-y;
    background-position: 100% 1px;
}

.jstree-default.jstree-rtl .jstree-last {
    background: transparent;
}

.jstree-default.jstree-rtl .jstree-open > .jstree-ocl {
    background-position: -132px -36px;
}

.jstree-default.jstree-rtl .jstree-closed > .jstree-ocl {
    background-position: -100px -36px;
}

.jstree-default.jstree-rtl .jstree-leaf > .jstree-ocl {
    background-position: -68px -36px;
}

.jstree-default.jstree-rtl > .jstree-no-dots .jstree-node,
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
    background: transparent;
}

.jstree-default.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
    background-position: -36px -36px;
}

.jstree-default.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
    background-position: -4px -36px;
}

.jstree-default .jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
}

.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
    background: url('../images/throbber.gif') center center no-repeat;
}

.jstree-default .jstree-file {
    background: url('../images/32px.png') -100px -68px no-repeat;
}

.jstree-default .jstree-folder {
    background: url('../images/32px.png') -260px -4px no-repeat;
}

.jstree-default > .jstree-container-ul > .jstree-node {
    margin-right: 16px;
    margin-left: 0;
}

#jstree-dnd.jstree-default {
    line-height: 24px;

    padding: 0 4px;
}

#jstree-dnd.jstree-default .jstree-ok,
#jstree-dnd.jstree-default .jstree-er {
    background-color: transparent;
    background-image: url('../images/32px.png');
    background-repeat: no-repeat;
}

#jstree-dnd.jstree-default i {
    line-height: 24px;

    width: 24px;
    height: 24px;

    background: transparent;
}

#jstree-dnd.jstree-default .jstree-ok {
    background-position: -4px -68px;
}

#jstree-dnd.jstree-default .jstree-er {
    background-position: -36px -68px;
}

.jstree-default .jstree-ellipsis {
    overflow: hidden;
}

.jstree-default .jstree-ellipsis .jstree-anchor {
    overflow: hidden;

    width: calc(100% - 29px);

    text-overflow: ellipsis;
}

.jstree-default .jstree-ellipsis.jstree-no-icons .jstree-anchor {
    width: calc(100% - 5px);
}

.jstree-default.jstree-rtl .jstree-node {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==');
}

.jstree-default.jstree-rtl .jstree-last {
    background: transparent;
}

.jstree-default-small .jstree-node {
    line-height: 18px;

    min-width: 18px;
    min-height: 18px;
    margin-left: 18px;
}

.jstree-default-small .jstree-anchor {
    line-height: 18px;

    height: 18px;
}

.jstree-default-small .jstree-icon {
    line-height: 18px;

    width: 18px;
    height: 18px;
}

.jstree-default-small .jstree-icon:empty {
    line-height: 18px;

    width: 18px;
    height: 18px;
}

.jstree-default-small.jstree-rtl .jstree-node {
    margin-right: 18px;
}

.jstree-default-small .jstree-wholerow {
    height: 18px;
}

.jstree-default-small .jstree-node,
.jstree-default-small .jstree-icon {
    background-image: url('../images/32px.png');
}

.jstree-default-small .jstree-node {
    background-repeat: repeat-y;
    background-position: -295px -7px;
}

.jstree-default-small .jstree-last {
    background: transparent;
}

.jstree-default-small .jstree-open > .jstree-ocl {
    background-position: -135px -7px;
}

.jstree-default-small .jstree-closed > .jstree-ocl {
    background-position: -103px -7px;
}

.jstree-default-small .jstree-leaf > .jstree-ocl {
    background-position: -71px -7px;
}

.jstree-default-small .jstree-themeicon {
    background-position: -263px -7px;
}

.jstree-default-small > .jstree-no-dots .jstree-node,
.jstree-default-small > .jstree-no-dots .jstree-leaf > .jstree-ocl {
    background: transparent;
}

.jstree-default-small > .jstree-no-dots .jstree-open > .jstree-ocl {
    background-position: -39px -7px;
}

.jstree-default-small > .jstree-no-dots .jstree-closed > .jstree-ocl {
    background-position: -7px -7px;
}

.jstree-default-small .jstree-disabled {
    background: transparent;
}

.jstree-default-small .jstree-disabled.jstree-hovered {
    background: transparent;
}

.jstree-default-small .jstree-disabled.jstree-clicked {
    background: #efefef;
}

.jstree-default-small .jstree-checkbox {
    background-position: -167px -7px;
}

.jstree-default-small .jstree-checkbox:hover {
    background-position: -167px -39px;
}

.jstree-default-small.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
.jstree-default-small .jstree-checked > .jstree-checkbox {
    background-position: -231px -7px;
}

.jstree-default-small.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover,
.jstree-default-small .jstree-checked > .jstree-checkbox:hover {
    background-position: -231px -39px;
}

.jstree-default-small .jstree-anchor > .jstree-undetermined {
    background-position: -199px -7px;
}

.jstree-default-small .jstree-anchor > .jstree-undetermined:hover {
    background-position: -199px -39px;
}

.jstree-default-small .jstree-checkbox-disabled {
    opacity: .8;

    -webkit-filter: grayscale(100%);
}

.jstree-default-small > .jstree-striped {
    background-size: auto 36px;
}

.jstree-default-small.jstree-rtl .jstree-node {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==');
    background-repeat: repeat-y;
    background-position: 100% 1px;
}

.jstree-default-small.jstree-rtl .jstree-last {
    background: transparent;
}

.jstree-default-small.jstree-rtl .jstree-open > .jstree-ocl {
    background-position: -135px -39px;
}

.jstree-default-small.jstree-rtl .jstree-closed > .jstree-ocl {
    background-position: -103px -39px;
}

.jstree-default-small.jstree-rtl .jstree-leaf > .jstree-ocl {
    background-position: -71px -39px;
}

.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-node,
.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
    background: transparent;
}

.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
    background-position: -39px -39px;
}

.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
    background-position: -7px -39px;
}

.jstree-default-small .jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
}

.jstree-default-small > .jstree-container-ul .jstree-loading > .jstree-ocl {
    background: url('../images/throbber.gif') center center no-repeat;
}

.jstree-default-small .jstree-file {
    background: url('../images/32px.png') -103px -71px no-repeat;
}

.jstree-default-small .jstree-folder {
    background: url('../images/32px.png') -263px -7px no-repeat;
}

.jstree-default-small > .jstree-container-ul > .jstree-node {
    margin-right: 0;
    margin-left: 0;
}

#jstree-dnd.jstree-default-small {
    line-height: 18px;

    padding: 0 4px;
}

#jstree-dnd.jstree-default-small .jstree-ok,
#jstree-dnd.jstree-default-small .jstree-er {
    background-color: transparent;
    background-image: url('../images/32px.png');
    background-repeat: no-repeat;
}

#jstree-dnd.jstree-default-small i {
    line-height: 18px;

    width: 18px;
    height: 18px;

    background: transparent;
}

#jstree-dnd.jstree-default-small .jstree-ok {
    background-position: -7px -71px;
}

#jstree-dnd.jstree-default-small .jstree-er {
    background-position: -39px -71px;
}

.jstree-default-small .jstree-ellipsis {
    overflow: hidden;
}

.jstree-default-small .jstree-ellipsis .jstree-anchor {
    overflow: hidden;

    width: calc(100% - 23px);

    text-overflow: ellipsis;
}

.jstree-default-small .jstree-ellipsis.jstree-no-icons .jstree-anchor {
    width: calc(100% - 5px);
}

.jstree-default-small.jstree-rtl .jstree-node {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAACAQMAAABv1h6PAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMHBgAAiABBI4gz9AAAAABJRU5ErkJggg==');
}

.jstree-default-small.jstree-rtl .jstree-last {
    background: transparent;
}

.jstree-default-large .jstree-node {
    line-height: 32px;

    min-width: 32px;
    min-height: 32px;
    margin-left: 32px;
}

.jstree-default-large .jstree-anchor {
    line-height: 32px;

    height: 32px;
}

.jstree-default-large .jstree-icon {
    line-height: 32px;

    width: 32px;
    height: 32px;
}

.jstree-default-large .jstree-icon:empty {
    line-height: 32px;

    width: 32px;
    height: 32px;
}

.jstree-default-large.jstree-rtl .jstree-node {
    margin-right: 32px;
}

.jstree-default-large .jstree-wholerow {
    height: 32px;
}

.jstree-default-large .jstree-node,
.jstree-default-large .jstree-icon {
    background-image: url('../images/32px.png');
}

.jstree-default-large .jstree-node {
    background-repeat: repeat-y;
    background-position: -288px 0;
}

.jstree-default-large .jstree-last {
    background: transparent;
}

.jstree-default-large .jstree-open > .jstree-ocl {
    background-position: -128px 0;
}

.jstree-default-large .jstree-closed > .jstree-ocl {
    background-position: -96px 0;
}

.jstree-default-large .jstree-leaf > .jstree-ocl {
    background-position: -64px 0;
}

.jstree-default-large .jstree-themeicon {
    background-position: -256px 0;
}

.jstree-default-large > .jstree-no-dots .jstree-node,
.jstree-default-large > .jstree-no-dots .jstree-leaf > .jstree-ocl {
    background: transparent;
}

.jstree-default-large > .jstree-no-dots .jstree-open > .jstree-ocl {
    background-position: -32px 0;
}

.jstree-default-large > .jstree-no-dots .jstree-closed > .jstree-ocl {
    background-position: 0 0;
}

.jstree-default-large .jstree-disabled {
    background: transparent;
}

.jstree-default-large .jstree-disabled.jstree-hovered {
    background: transparent;
}

.jstree-default-large .jstree-disabled.jstree-clicked {
    background: #efefef;
}

.jstree-default-large .jstree-checkbox {
    background-position: -160px 0;
}

.jstree-default-large .jstree-checkbox:hover {
    background-position: -160px -32px;
}

.jstree-default-large.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
.jstree-default-large .jstree-checked > .jstree-checkbox {
    background-position: -224px 0;
}

.jstree-default-large.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover,
.jstree-default-large .jstree-checked > .jstree-checkbox:hover {
    background-position: -224px -32px;
}

.jstree-default-large .jstree-anchor > .jstree-undetermined {
    background-position: -192px 0;
}

.jstree-default-large .jstree-anchor > .jstree-undetermined:hover {
    background-position: -192px -32px;
}

.jstree-default-large .jstree-checkbox-disabled {
    opacity: .8;

    -webkit-filter: grayscale(100%);
}

.jstree-default-large > .jstree-striped {
    background-size: auto 64px;
}

.jstree-default-large.jstree-rtl .jstree-node {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==');
    background-repeat: repeat-y;
    background-position: 100% 1px;
}

.jstree-default-large.jstree-rtl .jstree-last {
    background: transparent;
}

.jstree-default-large.jstree-rtl .jstree-open > .jstree-ocl {
    background-position: -128px -32px;
}

.jstree-default-large.jstree-rtl .jstree-closed > .jstree-ocl {
    background-position: -96px -32px;
}

.jstree-default-large.jstree-rtl .jstree-leaf > .jstree-ocl {
    background-position: -64px -32px;
}

.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-node,
.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
    background: transparent;
}

.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
    background-position: -32px -32px;
}

.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
    background-position: 0 -32px;
}

.jstree-default-large .jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
}

.jstree-default-large > .jstree-container-ul .jstree-loading > .jstree-ocl {
    background: url('../images/throbber.gif') center center no-repeat;
}

.jstree-default-large .jstree-file {
    background: url('../images/32px.png') -96px -64px no-repeat;
}

.jstree-default-large .jstree-folder {
    background: url('../images/32px.png') -256px 0 no-repeat;
}

.jstree-default-large > .jstree-container-ul > .jstree-node {
    margin-right: 0;
    margin-left: 0;
}

#jstree-dnd.jstree-default-large {
    line-height: 32px;

    padding: 0 4px;
}

#jstree-dnd.jstree-default-large .jstree-ok,
#jstree-dnd.jstree-default-large .jstree-er {
    background-color: transparent;
    background-image: url('../images/32px.png');
    background-repeat: no-repeat;
}

#jstree-dnd.jstree-default-large i {
    line-height: 32px;

    width: 32px;
    height: 32px;

    background: transparent;
}

#jstree-dnd.jstree-default-large .jstree-ok {
    background-position: 0 -64px;
}

#jstree-dnd.jstree-default-large .jstree-er {
    background-position: -32px -64px;
}

.jstree-default-large .jstree-ellipsis {
    overflow: hidden;
}

.jstree-default-large .jstree-ellipsis .jstree-anchor {
    overflow: hidden;

    width: calc(100% - 37px);

    text-overflow: ellipsis;
}

.jstree-default-large .jstree-ellipsis.jstree-no-icons .jstree-anchor {
    width: calc(100% - 5px);
}

.jstree-default-large.jstree-rtl .jstree-node {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAACAQMAAAAD0EyKAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjgIIGBgABCgCBvVLXcAAAAABJRU5ErkJggg==');
}

.jstree-default-large.jstree-rtl .jstree-last {
    background: transparent;
}

@media (max-width: 768px) {
    #jstree-dnd.jstree-dnd-responsive {
        font-size: 1.1em;
        font-weight: bold;
        line-height: 40px;

        text-shadow: 1px 1px white;
    }

    #jstree-dnd.jstree-dnd-responsive > i {
        width: 40px;
        height: 40px;

        background: transparent;
    }

    #jstree-dnd.jstree-dnd-responsive > .jstree-ok {
        background-image: url('40px.png');
        background-position: 0 -200px;
        background-size: 120px 240px;
    }

    #jstree-dnd.jstree-dnd-responsive > .jstree-er {
        background-image: url('40px.png');
        background-position: -40px -200px;
        background-size: 120px 240px;
    }

    #jstree-marker.jstree-dnd-responsive {
        margin-top: -10px;

        border-top-width: 10px;
        border-bottom-width: 10px;
        border-left-width: 10px;
    }
}

@media (max-width: 768px) {
    .jstree-default-responsive {
        /*
          .jstree-open > .jstree-ocl,
          .jstree-closed > .jstree-ocl { border-radius:20px; background-color:white; }
          */
    }

    .jstree-default-responsive .jstree-icon {
        background-image: url('40px.png');
    }

    .jstree-default-responsive .jstree-node,
    .jstree-default-responsive .jstree-leaf > .jstree-ocl {
        background: transparent;
    }

    .jstree-default-responsive .jstree-node {
        line-height: 40px;

        min-width: 40px;
        min-height: 40px;
        margin-left: 40px;

        white-space: nowrap;
    }

    .jstree-default-responsive .jstree-anchor {
        line-height: 40px;

        height: 40px;
    }

    .jstree-default-responsive .jstree-icon,
    .jstree-default-responsive .jstree-icon:empty {
        line-height: 40px;

        width: 40px;
        height: 40px;
    }

    .jstree-default-responsive > .jstree-container-ul > .jstree-node {
        margin-left: 0;
    }

    .jstree-default-responsive.jstree-rtl .jstree-node {
        margin-right: 40px;
        margin-left: 0;

        background: transparent;
    }

    .jstree-default-responsive.jstree-rtl .jstree-container-ul > .jstree-node {
        margin-right: 0;
    }

    .jstree-default-responsive .jstree-ocl,
    .jstree-default-responsive .jstree-themeicon,
    .jstree-default-responsive .jstree-checkbox {
        background-size: 120px 240px;
    }

    .jstree-default-responsive .jstree-leaf > .jstree-ocl,
    .jstree-default-responsive.jstree-rtl .jstree-leaf > .jstree-ocl {
        background: transparent;
    }

    .jstree-default-responsive .jstree-open > .jstree-ocl {
        background-position: 0 0 !important;
    }

    .jstree-default-responsive .jstree-closed > .jstree-ocl {
        background-position: 0 -40px !important;
    }

    .jstree-default-responsive.jstree-rtl .jstree-closed > .jstree-ocl {
        background-position: -40px 0 !important;
    }

    .jstree-default-responsive .jstree-themeicon {
        background-position: -40px -40px;
    }

    .jstree-default-responsive .jstree-checkbox,
    .jstree-default-responsive .jstree-checkbox:hover {
        background-position: -40px -80px;
    }

    .jstree-default-responsive.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
    .jstree-default-responsive.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover,
    .jstree-default-responsive .jstree-checked > .jstree-checkbox,
    .jstree-default-responsive .jstree-checked > .jstree-checkbox:hover {
        background-position: 0 -80px;
    }

    .jstree-default-responsive .jstree-anchor > .jstree-undetermined,
    .jstree-default-responsive .jstree-anchor > .jstree-undetermined:hover {
        background-position: 0 -120px;
    }

    .jstree-default-responsive .jstree-anchor {
        font-size: 1.1em;
        font-weight: bold;

        text-shadow: 1px 1px white;
    }

    .jstree-default-responsive > .jstree-striped {
        background: transparent;
    }

    .jstree-default-responsive .jstree-wholerow {
        height: 40px;

        border-top: 1px solid rgba(255, 255, 255, .7);
        border-bottom: 1px solid rgba(64, 64, 64, .2);
        background: #ebebeb;
    }

    .jstree-default-responsive .jstree-wholerow-hovered {
        background: #e7f4f9;
    }

    .jstree-default-responsive .jstree-wholerow-clicked {
        background: #beebff;
    }

    .jstree-default-responsive .jstree-children .jstree-last > .jstree-wholerow {
        box-shadow: inset 0 -6px 3px -5px #666;
    }

    .jstree-default-responsive .jstree-children .jstree-open > .jstree-wholerow {
        border-top: 0;
        box-shadow: inset 0 6px 3px -5px #666;
    }

    .jstree-default-responsive .jstree-children .jstree-open + .jstree-open {
        box-shadow: none;
    }

    .jstree-default-responsive .jstree-node,
    .jstree-default-responsive .jstree-icon,
    .jstree-default-responsive .jstree-node > .jstree-ocl,
    .jstree-default-responsive .jstree-themeicon,
    .jstree-default-responsive .jstree-checkbox {
        background-image: url('40px.png');
        background-size: 120px 240px;
    }

    .jstree-default-responsive .jstree-node {
        background-repeat: repeat-y;
        background-position: -80px 0;
    }

    .jstree-default-responsive .jstree-last {
        background: transparent;
    }

    .jstree-default-responsive .jstree-leaf > .jstree-ocl {
        background-position: -40px -120px;
    }

    .jstree-default-responsive .jstree-last > .jstree-ocl {
        background-position: -40px -160px;
    }

    .jstree-default-responsive .jstree-themeicon-custom {
        background-color: transparent;
        background-image: none;
        background-position: 0 0;
    }

    .jstree-default-responsive .jstree-file {
        background: url('40px.png') 0 -160px no-repeat;
        background-size: 120px 240px;
    }

    .jstree-default-responsive .jstree-folder {
        background: url('40px.png') -40px -40px no-repeat;
        background-size: 120px 240px;
    }

    .jstree-default-responsive > .jstree-container-ul > .jstree-node {
        margin-right: 0;
        margin-left: 0;
    }
}

/*Custom jstree check*/
.jstree-default .jstree-checkbox {
    width: 16px !important;
    height: 16px !important;
    margin: 4px 8px 4px 4px !important;

    border: 1px solid rgba(110, 117, 130, 0.2);
    border-radius: 3px;
    background-color: #fff;
    background-size: .5rem;
}

.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
.jstree-default .jstree-checked > .jstree-checkbox {
    border-color: rgba(110, 117, 130, 0.2) !important;
    background-color: #206bc4 !important;
}

.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox::after,
.jstree-default .jstree-checked > .jstree-checkbox::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8.5l2.5 2.5l5.5 -5.5'/%3e%3c/svg%3e");
    background-size: contain;
    content:"";
    display: block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
}

.jstree-default .jstree-anchor > .jstree-undetermined {
    border-color: rgba(110, 117, 130, 0.2) !important;
    background-color: #206bc4 !important;
}

.jstree-default .jstree-anchor > .jstree-undetermined::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M1 1 H7 V7 H1 L1 1z'/%3e%3c/svg%3e");
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: 50% 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    top: 0.203125rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
}

.fileuploader {
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.fileuploader-item:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.fileuploader .fileuploader-input-caption {
    font-weight: normal;
    line-height: 1.42857143;

    display: block;

    width: 100%;
    height: 38px;
    margin: 0;
    padding: 0.375rem 0.75rem;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    color: #555;
    border: 1px solid #ccc;
    border-color: #cfdadd;
    border-radius: 2px;
    background-color: #fff;
    background-image: none;
}

.fileuploader .fileuploader-input-button {
    font-weight: normal;
    line-height: 1.42857143;

    display: inline-block;

    margin-bottom: 0;
    padding: 0.375rem 0.75rem;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #58666e !important;
    border: 1px solid transparent;
    border-color: #dee5e7;
    border-bottom-color: #d8e1e3;
    border-radius: 2px;
    outline: 0 !important;
    background-color: #fcfdfd;
    background-image: none;
    -webkit-box-shadow: 0 1px 1px rgba(90, 90, 90, .1);
    box-shadow: 0 1px 1px rgba(90, 90, 90, .1);

    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.fileuploader .fileuploader-input-button:active,
.fileuploader .fileuploader-input-button:focus,
.fileuploader .fileuploader-input-button:hover {
    color: #58666e !important;
    border-color: #c7d3d6;
    background-color: #edf1f2;
}

.fileuploader .fileuploader-action {
    width: 22px;
    height: 22px;
}

.fileuploader .fileuploader-action-download {
    background: #06a;
}

.fileuploader .fileuploader-action-download:hover {
    background: #085e98;
}

.fileuploader .fileuploader-action-remove i:after,
.fileuploader .fileuploader-action-remove i:before {
    top: 6px;
    left: 9px;
}

.fileuploader .column-title {
    color: #58666e !important;
}

.fileuploader .column-actions {
    right: 5px !important;
}

.fileuploader .fileuploader-items-list {
    margin-top: 10px;
}

.fileuploader .fileuploader-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

label.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 87.5%;
    color: #cd201f;
}

.selectize-control.loading::before {
    opacity: 0.4;
}

.selectize-control::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 50%;
    right: 34px;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 0;
    background: url(../images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}

.w-full > .dataTables_filter {
    margin: 0;
    width: 100%;
}

.w-full > .dataTables_filter > label {
    width: 100%;
}

.w-full > .dataTables_filter > label > input {
    width: 100%;
}

.popover {
    max-width: 600px;
}

/* Order icon datatables */
table.dataTable thead th.sorting_asc:after {
    color: #354052 !important;
    margin-left: 5px;
    position: absolute;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 15 12 9 18 15"></polyline></svg>');
}

table.dataTable thead th.sorting_desc:after {
    color: #354052 !important;
    margin-left: 5px;
    position: absolute;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 9 12 15 18 9"></polyline></svg>');
}


table tbody tr.selected {
    color: #206bc4;
    text-decoration: none;
    background-color: #daeefc;
    border-color: #b5ddfa;
}

.rowTableSecret {
    min-height: 453px !important;
}

.dropdown-item {
    cursor: pointer;
}
